.FormRegistr{
    padding-left: 30%;
    padding-right: 30%;
    margin-top:5%;
}
.btn-volver {
    margin-left: 10px;  
    }
    #fndoDisabled{
        background-color: rgba(174, 173, 173, 0.17);
      }