<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" id="sps">
    <p class="col-md-4 mb-0 text-muted">© 2023 Biblioteca.</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" routerLink="libro">Libros</a></li>
      <li class="nav-item"><a href="#" routerLink="usuario" class="nav-link px-2 text-muted">Usuarios</a></li>
      <li class="nav-item"><a routerLink="autor" class="nav-link px-2 text-muted">Autor</a></li>
    </ul>
  </footer>